@media all and (max-width: 1100px) {
	.list-view.editing .toolbar,
	.list-view.editing .contact-grid {
		display:	none;
	}
}
a[highlight] {
		font-weight:		bold;
		text-decoration:	underline;
}

.mt-helper-text {
		color:			var(--lumo-secondary-text-color);
		font-size:		var(--lumo-font-size-xs);
		line-height:	var(--lumo-line-height-s);
}

.mt-helper-text.warning {
		color:			var(--lumo-error-color);
}

.mt-footer-link {
		font-size:		var(--lumo-font-size-s);
}

.mt-list-item-border {
		border:			1px solid var(--lumo-contrast-20pct);
		border-radius:	8px;
}


/* Buttons */

.mt-form-btn-bar {
		margin-top:			var(--lumo-space-m);
		margin-bottom:		var(--lumo-space-xs);
}

.mt-inactive-btn {
		background-color:	var(--lumo-contrast-5pct);
		color:				var(--lumo-disabled-text-color);
}

.mt-inactive-btn:not([theme~="primary"]):hover {
		background-color:	var(--lumo-contrast-10pct);
}


/* ComboBox with VehicleType icon */

.mt-box-icon {
		cursor:			default;
}

.mt-box-item-bar {
		gap:			var(--lumo-space-s);
		padding:		0;
		margin:			0;
}

.mt-box-item-icon {
		margin-left:	var(--lumo-space-xs);
}

.mt-box-value-icon {
		margin-left:	var(--lumo-space-xs);		/* 0.35rem 1.75rem */
		margin-right:	var(--lumo-space-xs);
}


/* ColorPicker */

.mt-color-picker-wrapper {
		position:			relative;
		width:				100%;
		height:				var(--lumo-space-xl);
		overflow:			hidden;
}

.mt-color-picker-input {
		background-color:	#e0e0e0;
		position:			absolute;
		inset:				0;
		width:				100%;
		height:				100%;
		border:				2px solid #e0e0e0;
		border-radius:		var(--lumo-border-radius-m);
		padding:			0;
		cursor:				pointer;
}


/* Color circle */

.mt-color-circle {
		margin:				auto;
		border:				1px solid var(--lumo-contrast-20pct);
		border-radius:		50%;
}

/*
.mt-color-circle-wrapper {
		width:				2.5em;
		height:				2.5em;
		background:			var(--lumo-primary-color);
		border-radius:		50%;
		display:			flex;
		align-items:		center;
		justify-content:	center;
}
*/