@media all and (max-width: 1100px) {
	.list-view.editing .toolbar,
	.list-view.editing .contact-grid {
		display:	none;
	}
}
a[highlight] {
		font-weight:		bold;
		text-decoration:	underline;
}

.mt-helper-text {
		color:			var(--lumo-secondary-text-color);
		font-size:		var(--lumo-font-size-xs);
		line-height:	var(--lumo-line-height-s);
}

.mt-helper-text.warning {
		color:			var(--lumo-error-color);
}

.mt-footer-link {
		font-size:		var(--lumo-font-size-s);
}

.mt-list-item-border {
		border:			1px solid var(--lumo-contrast-20pct);
		border-radius:	8px;
}